<main>
    <style>
        h1 {
            color: black;
        }
    </style>
    <h1>Hello world !</h1>
    <h2 id="user">Hello world !</h2>
    <h1 style="color: yellow">Hello world !</h1>
    <h2>Hello world !</h2>
    <h2 class="button">Hello world !</h2>

    <div class=" p-5 box">
        <button type="button" class="button">Купити</button>
    </div>

    <div class=" card p-5 m-5 card-dark">
        <ul>
            <strong>
                <div class="item">First</div>
                <p class="item">Second</p>
                <p class="item">3</p>
                <article class="item">4</article>
                <b class="item">5</b>
                <li class="item">6</li>
                <li>7</li>
                <li></li>
                <li class="item">9</li>
                <li class="item">Last</li>
            </strong>
        </ul>
    </div>

    <div class="card p-5 m-5 card-dark">
        <input class="input-dark" required>
        <input class="input-dark" type="number">
    </div>

    <div class="card p-5 m-5 card-dark">
        <img alt="image small card 300px" class="small-img" src="https://picsum.photos/200/300" height="100px"
            width="400px">

        <a href="https://picsum.photos/200/300" rel="external">Link</a>
        <button class="btn">Click me</button>
        <br>
        <a class="btn btn-warning">Click me 2</a>
    </div>

    <button class="btn" href="https://picsum.photos/200/300">Click me</button>

</main>