:root {
    --space-s: 8px;
    --space-m: 12px;
    --space-xm: 16px;
    --space-l: 24px;
    --space-b: 36px;

    --size-s: 14px;
    --size-d: 16px;
    --size-l: 20px;
    --size-b: 24px;

    --color-border: #d3dee9;
    --color-primary: rgb(102, 102, 250);
    --color-white: #fff;
    --color-title: #212529;
    --color-text: #343A40;

    --border-radius-d: 12px;
    --border-radius-s: 4px; 

    --weight-title: 600;
    --weight-text: 400;

    --page-width: 1000px; 
}

/* ============================= */
.page {
    background: var(--color-white);
    padding: 0 15px;

    display: flex;
    justify-content: center;
}
.page_content {
    max-width: var(--page-width);
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 80px;
}

/* ============================== */
.header {
padding:  var(--space-l) 0;
border-bottom: 1px solid var(--color-border);

display: flex;
justify-content: space-between;

position: sticky;
max-width: var(--page-width);
width: 100%;

top: 0;

background-color: var(--color-white);

z-index: 1;
}

.logo {
    font-size: 17px;
    color: var(--color-white);
    background: var(--color-primary);

    width: var(--space-l);
    height: var(--space-l);
    border-radius: calc(var(--border-radius-d) / 2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
display: flex;
}

.nav_inline {
gap: var(--space-l);
}

.nav_vertical {
    gap: var(--space-xm);
    flex-direction: column;
}

.nav_link {
    color: var(--color-text);
    font-size: var(--size-d);
    text-decoration: none;

    line-height: 100%;

    transition-property: color;
    transition-duration: 1s;

}

.nav_link:hover {
    text-decoration: underline;
    color: var(--color-primary);
}

    .footer {
        padding: var(--space-l) 0;
        border-top: 1px solid var(--color-border);

        display: flex;
        justify-content: space-between; 
    }

    .footer_copyright {
        font-size: var(--size-s);
        color: var(--color-text);
        display: block;
        margin-top: var(--space-l);
    }

    .footer_title {
        font-size: var(--size-l);
        color: var(--color-title);
        display: block;
        margin-bottom: var(--space-l);
        font-weight: var(--weight-title);
    }

    .main {
        display: flex;
        width: 100%;

        align-items: flex-start;
        gap: 40px;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        gap: 24px;

        padding-top: 43px;
    }

    .title {
        font-weight: 700;
        font-size: 56px;
        line-height: 120%;

        display: flex;
        align-items: center;

        color: #212529;
    }

    .text {
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;

        display: flex;
        align-items: center;

        color: #212529;
    }

    .form {
        max-width: 394px;
        width: 100%;
        
        background-color: #F8F9FA;
        border: 1px solid #DEE2E6;
        border-radius: var(--border-radius-s);

        padding: 60px 48px;

        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .form_title {
        text-align: center;
        font-size: var(--size-b);
        font-weight: var(--weight-text);
        color: var(--color-title);
    }

    .form_info {
        text-align: center;
        font-size: var(--size-d);
        font-weight: var(--weight-text);
        color:#6c757d;
    }

    .form_button {
        text-align: center;
        padding: 12px;
        background-color: var(--color-primary);
        color: var(--color-white);
        border-radius: var(--border-radius-s);

        transition: opacity 0.7s;
    }

    .form_button:hover {
        opacity: 0.7;
    }

    .form_button:active {
        opacity: 0.3;
    }

    .form_input_list {
        display: flex;
        gap: var(--space-m);
        flex-direction: column;
    }

    .form_input {
        padding: 16px 12px;
        gap: 10px;
        
        

        background: #FFFFFF;
        border: 1px solid #ced4da;
        border-radius: var(--border-radius-s);

    }

    .form_input::placeholder {
        color: var(--color-title);
        font-size: var(--size-d);
    }

    .form_checkbox {
        display: flex;
        gap: var(--space-s);
        align-items: center;
    }

    .form_checkbox > input {
        display: none;
    }

    .form_checkbox > input ~ div {
        border: 1px solid #767676;
        border-radius: 4px;
        height: 13px;
        width: 13px;
    }

    .form_checkbox > input:checked ~ div {
        border-color: var(--color-primary);
        background-color: var(--color-primary);
    }

    .form_checkbox > label {
        color: var(--color-title);
        font-size: var(--size-d);
        cursor: pointer;
    }

    .form_hr {
        border: 1px solid #212529;
        width: 100%;
        opacity: 0.25;
    }

    .updates {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px;
        gap: 24px;

        background: #ffffff;

        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
    }

    .updates_title {
        
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        padding: 0px 0px 12px;
        gap: 10px;

        border-bottom: 1px solid #DEE2E6;
    }

    .updates_list {
        display: flex;
        align-items: flex-start;
        padding: 0px 0px 12px;
        gap: 12px;

        border-bottom: 1px solid #DEE2E6;

         
    }

    .updates_list_image {
        
        width: 32px;
        height: 32px;

        border-radius: 4px; 
    }

    .updates_list_nickname {
        font-weight: 700;
        font-size: 12.8px;
        line-height: 16px;
    }

    .updates_list_text {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;

        display: flex;
        align-items: center;

        color: #6C757D;
    }

    .updates_link {
        font-weight: 400;
        align-items: center;
        text-align: right;
        text-decoration-line: underline;
        color: #007BFF;
    }

    .expirience { 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 28px;
        gap: 24px;

        background: #F8F9FA;
        border-radius: 4px; 
        position: relative;
    } 
    .expirience_badge {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px 24px;
        gap: 12px;

        right: 0px;
        top: 0px;

        background: #FF7347;
        border-radius: 70px;
        transform: rotate(30deg);

    }

    .badge_text {
        
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;

        color: #FFFFFF;
    }
    
    .expirience_title {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 0px;
        gap: 24px;

        font-weight: 700;
        font-size: 42px;
        line-height: 120%;

        color: #212529;

    }

    .expirience_list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
    }

    .card_expirience {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
        gap: 8px;

        background: #212529;
        border-radius: 12px;

        height: 100%;
    }

    .expirience_list_name {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 25px;

        font-weight: 700;
        font-size: 20px;
        line-height: 26px;

        color: #FFFFFF;
    }

    .expirience_list_details {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;

        color: #B1B1B1;
    }


    

    